.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 300ms ease-in-out;
  padding: 0 50px;
}

.header.dark {
  background-color: #2a2942;
  color: white;
}
