.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: all 300ms ease-in-out;
}

.header.dark {
  background-color: #2a2942;
  color: white;
}
