:root {
  font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  --color-pri: hsl(0, 0%, 100%);
  --color-sec: hsl(0, 0%, 98%);
  --color-text: hsl(200, 15%, 8%);
}
body.dark-theme {
  --color-pri: hsl(209, 23%, 22%);
  --color-sec: hsl(207, 26%, 17%);
  --color-text: hsl(0, 0%, 100%);
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    --color-pri: hsl(209, 23%, 22%);
    --color-sec: hsl(207, 26%, 17%);
    --color-text: hsl(0, 0%, 100%);
  }
  body.light-theme {
    --color-pri: hsl(0, 0%, 100%);
    --color-sec: hsl(0, 0%, 98%);
    --color-text: hsl(200, 15%, 8%);
  }
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}
